{% extends 'base.html' %}

{% block title %}
    Results
{% endblock %}

{% block content %}

<div class="jumbotron text-center" id="score">
    <p>Your Score is {{ points }} out of <b>55</b></p>

    <button class="btn btn-default" onclick="window.location.href='{% url 'welcome' %}'">FINISH</button>
</div>

{% endblock %}

{% block javascript %}

    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        $.ajax({
			url: "{% url 'update_result' %}",
			type: "POST",
            data: {
				'user_id': {{ request.user.id }},
                'points': {{ points }}
			},
			dataType: 'json',
			success: function (data) {
			    console.log('data.status: ' + data.status);
            }
		});


        window.addEventListener('load', function () {
            $.ajax({
			url: "{% url 'index' %}",
			type: "GET",

			success: function () {
			    console.log('Success');
            }
		});
        })
    </script>
{% endblock %}