{% extends 'base.html' %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/check_answer.js' %}"></script>
{% endblock %}

{% block content %}


    <div id="exam_list" class="text-center center-block">
        <span class="row"></span>

        <div class="row" id="show-exam-form">
            <div class="panel panel-default col-sm-6 col-sm-offset-3">
                <div class="panel-body">

                    <form name="exam-form" id="exam-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>{{ question }}</p>
                            <span>
                      {% for ans in possible_answers %}
                          <div id="{{ ans }}">
                        <input type="radio" name="answer" value="{{ ans }}">
                        <label>{{ ans }}</label>
                          </div>
                      {% endfor %}
                        </span>
                        </div>
                        <input type="hidden" class="form-control" name="user" value="{{ request.user.id }}"/>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-ok">Submit</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}